@{
    ViewData["Title"] = "Home Page";
}

<div class="centered-container">
    <div class="text-center">
        <h1 class="display-4" >LIBRAIRIE DE FILMS PERSONNELS</h1>
        <h2> Cliquez sur liste de films pour voir ou éditer</h2>
    </div>
</div>
